body {
    background-color: #1B2838;
    color: white;
    width: auto;
}
.wrap {
    text-align: center;
    margin: 20px auto;
}
/* #cub {
    width: 100px;
    height: 100px;
    background-color: red;
}

.cubs {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #000;
    border-radius: 5%;
    text-align: center;
    line-height: 1.25;
}

.rad {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #23f;
    margin-top: 20px;
}

#sourse {
    width: auto;
    margin: 20px auto 0;
    text-align: center;
}

.wrap {
    width: 100%;
    height: 500px;
}
.price {
    position: relative;
    left: -50px;
}
.priceFinish {
    position: absolute;
    top: 1px;
    left: 135px;
		color: white;
		background-color: #e51;
} */


/* Steam */
/* span > span.sale_price {
	display: block !important;
	color: green !important;
}
span > span.normal_price {
	display: block !important;
	color: red !important;
}
span.market_listing_price.market_listing_price_with_fee{
color: #E10505 !important;
}
span.market_listing_price.market_listing_price_without_fee{
display: block !important;
color: #08B032 !important;
padding-top: 5px;
}
div#market_buyorder_info_details {
display: block !important;
}
a.item_market_action_button{
	top: 60px;
	left: 240px;
}

.price {
    position: relative;
    left: -50px;
}
.priceFinish {
    position: absolute;
    top: 1px;
    left: 110px;
		color: white;
		background-color: inherit;
} */

/* .btn {
    height: 30px;
    width: 100px;
    background-color: #fef;
    color: black;
    border: none;
}

.box {
    border: brown 5px solid;
    position: relative;
    width: 500px;
    height: 200px;
    overflow: auto;
    margin: 20px auto;
}
.boxIn {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    left: 0;
}
.an {
    background-color: #99e;
    height: 50px;
    width: auto;
}

span > span.sale_price {
    display: block !important;
    color: green !important;
}
span > span.normal_price {
    display: block !important;
    color: red !important;
}
span.market_listing_price.market_listing_price_with_fee{
color: #E10505 !important;
}
span.market_listing_price.market_listing_price_without_fee{
display: block !important;
color: #08B032 !important;
padding-top: 5px;
}
div#market_buyorder_info_details {
display: block !important;
}
a.item_market_action_button{
    top: 60px;
    left: 240px;
}

.price {
    position: relative;
    left: -50px;
}
.priceFinish {
    position: absolute;
    top: 1px;
    left: 110px;
        color: white;
        background-color: inherit;
} */
/* 
.price-table {
    color: #6B6D74;
    border: none;
}
.price-table__tbody {
    padding: 3px;
    border: 1px solid #ccc;
}
.price-tbody__tr {
    padding: 3px;
    border: 1px solid #ccc;
}
.price-tr__tb {
    padding: 3px;
    border: 1px solid #ccc;
}
.price-tr__tb-btn{
    align-items: center;
}
.price-tb__btn {
    border: none;
    background: #00AE3B;
    line-height: 2;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: 5px auto;
}
.price-tb__btn:hover {
    background-color: #1ab64f;
} */

/* .board{
    height: 640px;
    width: 640px;
    margin: 30px auto;
    border: 1px solid black;
}
 
.block{
    height: 80px;
    width: 80px;
    float: left;
}
 
.black{
    background: black;
}
 
.white{
    background: white;
}
*/
.wrap {
    margin: 0 auto;
    padding: 5px;
}

.img {
    max-width: 500px;
    max-height: 500px;
}
.active {
    background-color: inherit;
    color: white;
    border: none;
} 
.btn {
    border: none;
}